<div class="input-group input-group-lg input-location">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="button" (click)="getLocation()">Location</button>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" 
    placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" 
    #search name="searchControl">
</div>



<agm-map [latitude]="lat" [longitude]="lng" [zoom] = "zoom" (mapReady)="mapReady($event)">
  <div *ngFor="let prediction of predictions">
    <agm-marker [latitude]="prediction.latitude" [longitude]="prediction.longitude" [label]="prediction.class">
      </agm-marker>
  </div>
</agm-map>
