<h2 class="location-header loc-container">Saved locations 
<button class="btn btn-secondary" (click)="getLocations()">Refresh <i class="fa fa-refresh" aria-hidden="true"> </i></button></h2>
<div *ngIf="loading" class="lds-dual-ring centered"></div>
<h1 *ngIf="locations?.length < 1 && !loading">No saved locations.</h1>


<div class="list-group loc-container" >
    <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let location of locations" (click)="navigate(location)">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ location.name }}</h5>
        <p><a href="javascript:;" class="badge badge-danger" (click)="remove(location)">Remove</a></p>
      </div>
      <small>Created: {{ location.date | date:'dd-MM-yyyy HH:mm' }}</small>
    </a>
</div>