.password-change {
    padding-top: 20px;
    padding-bottom: 20px;
}

.data-form {
    padding-top: 50px;
}

.btn-save {
    padding-top: 15px;
}

.btn-refresh {
    border-radius: 50%;
    padding: 1px 6px;
}

.dev-container {
    margin-top: 50px;
}