.loc-container {
    padding-bottom: 40px;
}

.btn-refresh {
    border-radius: 50%;
    padding: 1px 6px;
}

.nav-tabs-predictions {
    border-bottom: none;
    margin-bottom: -1px;
}

.nav-tabs-predictions a {
    color: black;
}

.no-pred-text {
    margin-top: 50px;
}

.prediction-content{
    /* border-color: #f2f2f2;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px; */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-prediction {
    background-color: #395682;
    border-color: #565656;
}
